<% include ../partials/header %>
<div class ="row">

<!-- Individual Event info -->
	<p>
			<img src="<%=event.dataValues.flyerlink%>"/>
	</p>

	<p>
		<h2>Event:	<%=event.dataValues.title%></h2>
	</p>

	<p>
			<h3>DJs: <%=event.dataValues.djs%></h3>
	</p>

	<p>
			<%=event.dataValues.body%>
	</p>


	<form class="favorites" method="post" action="/favorites">
		        <input type="hidden" name="title" value="<%= event.title %>"></input>
		        <input type="hidden" name="eventdate" value="<%= event.eventdate %>"></input>
		        <input type="hidden" name="eventid" value="<%= event.id %>"></input>
					<button class="btn btn-danger">Save to Favorites</button>
		    </form>



</div>
<% include ../partials/footer %>